html {
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {font-family: "Lucida Console", "Courier New", monospace;
}
a{
    color: rgb(0, 0, 0);
}


a:hover{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

text-footer{
    text-align: center;
}
